---
layout: default
---
{{ content }}

<script src="{{ '/assets/js/lesson-cards.js' | relative_url }}"></script>
<script src="{{ '/assets/js/translation-toggle.js' | relative_url }}"></script>
<script src="{{ '/assets/js/language-toggle.js' | relative_url }}"></script>
{% if page.audio_manifest %}
<script src="{{ '/assets/js/shuffle-player.js' | relative_url }}"></script>
<script>
ShufflePlayer.init('shuffle-player', {
  manifests: ['{{ page.audio_manifest | relative_url }}']
});
</script>
{% endif %}
